<!DOCTYPE html>
<html lang="en">
<%-include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/admin/dash-navbar.ejs') %>
      <h2>DASHBOARD</h2>


      <%- include('../partials/bottom-navbar')%>
  </body>

</html>