<nav class="navbar fixed-top border-bottom border-dark border-3 bg-white ">
  <div class="container-fluid ">
    <a class="brand">FootKart</a>
    <div class=" d-flex  mx-3">
      <div class="mx-3">HOME</div>
      <div class="mx-3">SHOP</div>
      <div class="mx-3">ABOUT</div>
    </div>
  </div>
</nav>