<nav class="navbar navbar-expand-lg bg-white navbar-parent fixed-top border-bottom border-dark border-3" id="navbar">
  <div class="container-fluid">
    <div>

      <a class="brand" href="#">FootKart</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <form class="d-flex mx-auto" role="search">
          <input class="form-control form-search" type="search" placeholder="Search" aria-label="Search">
          <button class="search-button" type="submit"><img class="search-icon" src="/assets/icons/search.png" alt=""></button>
        </form> -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ps-4 ">
          <a class="nav-link active nav-item fs-5 fw-bold" aria-current="page" href="/admin/dashhome">Home</a>
        </li>
        <li class="nav-item ps-4 ">
          <a class="nav-link active nav-item fs-5 fw-bold" aria-current="page" href="/admin/categories">Categories</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item fs-5 fw-bold" aria-current="page" href="/admin/products">Products</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item fs-5 fw-bold" href="/admin/users">Users</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item fs-5 fw-bold" aria-current="page" href="/admin/orders">Orders</a>
        </li>

        <li class="nav-item ps-4">
          <a class="nav-link active nav-item fs-5 fw-bold" aria-current="page" href="#">Coupons</a>
        </li>

        <li class="nav-item ps-4 pt-0">
          <a class="nav-link nav-item d-flex align-items-center" href="/admin/logout"> <span
              class="btn btn-success text-dark fw-bold">Logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>